*{
  box-sizing : border-box;
  margin :0;
  padding : 0;
  font-family : sans-serif;
}
html, body {
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}
/* ------------------------ Animations ------------------------ */

@keyframes sloganPopAgir {
  from{
    transform: translateY(-75px);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes sloganPopTexte {
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.popAnimation{
  animation: sloganPopAgir 0.5s ease-out;
}
.popAnimation1{
  animation: sloganPopTexte 0.6s ease-out 0.6s forwards;
}

/* ------------------------ Fond d'image ------------------------ */

.fond{
  background-image: url(/assets/Img/AdobeStock_445875264.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  min-height: 100vh;
}

/* ------------------------ Header ------------------------ */

header{
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__menu{
  position: fixed;
  z-index: 10;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 17px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
  padding: 0px 0px;
  height: 50px;
  min-width: 100px;
  transition : top 0.5s ease-out;
}

.ongletQui{
  margin-left: 30px;
}

.ongletContact{
  margin: 0px 0px 0px 70px;
  padding: 13px 0px
}

.ongletBenevole{
  margin: 0px 10px 0px 160px;
  padding: 13px 0px;
}

.ongletDon{
  background-color: #000;
  margin-left: 15px;
  padding: 14px 25px 14px 25px;
  border-top-right-radius:18px ;
  border-bottom-right-radius:18px ;
}

.ongletDon a{
  color: #80C6FF;
}

.lien{
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition : color 0.2s ease-out , transform 0.2s ease-out;
}

.header__img{
  position: absolute;
  display : flex; 
  justify-content : center;
  align-items : center ;
  width : 90px;
  height : 90px;
  overflow : hidden;
  border-radius : 100% ;
}
.header__img img{
  margin-left:5px ;
  width: 90%;
  height: auto;
}

/* ------------------------ Menu Burger ------------------------ */

.burger--toggler{
  opacity: 0;
  visibility: hidden;
}

.overlay--burger{
  cursor: pointer;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(12, 12, 12 , 0.3);
  transition: opacity 0.5s ease , visibility 0.5s ease ;
}
.overlay--burger.active{
  opacity: 1;
  visibility: visible;
}

.menuBurger{
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transform: translateX(-100%);
  transition : transform 0.3s cubic-bezier(0.73,0.11,0.67,0.84);
}

.menuBurger__img{
  margin-top: 50px;
  display : flex; 
  justify-content : center;
  align-items : center ;
  width : 90px;
  height : 100px;
}

.menuBurger__img img{
  width : 100%;
  height : auto;
}

.menuBurger ul{
  list-style: none;
}

.menuBurger a{
  font-weight: 500;
  display: block;
  color: #000;
  text-decoration: none;
  width: auto;
  font-size: 20px;
  margin: 30px 0px;
}
.menuBurger.active{
  transform: translateX(0);
}

/* ------------------------ Texte + button sur le fond ------------------------ */

.fond__texte{
  background-color: rgba(32, 32, 32, 0.3); 
  backdrop-filter: blur(6px); 
  -webkit-backdrop-filter: blur(10px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px auto 0px auto;
  padding: 20px;
  width: 55%;
  border-radius: 18px;
  color: #fff;
}

.fond__texte p{
  font-size: 45px;
  font-weight: 600;
}
.fond__texte__slogan p{
  font-weight: 500;
  margin: 10px auto;
  font-size: 35px;
}
.fond__texte__slogan{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.fond__texte__button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin: 40px auto 0px auto;
}

.fond__texte__button__animate{
  display: inline-block;
  background: #80C6FF;
  border-radius: 8px;
  text-decoration: none;
}

.fond__texte__button__animate span{
  display: inline-block;
  background: #000;
  color: #80C6FF;
  padding: 25px;
  font-size: 21px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.15s ease-out , color  0.15s ease-out;
}
.fond__texte__button__animate:hover span{
  transform: translate(5px , -5px);
}



h1{
  text-align: center;
  font-size: 30px;
  margin: 50px auto;
}

.benevole__p{
  text-align: center;
  font-size: 18px;
  width: 50%;
  margin: 10px auto;
  font-weight: 600;
}

hr{
  height: 1.5px;
  background-color: #000;
  border: none;
  width: 30%;
  margin: 50px auto;
}

form{
  border: 1.5px solid #0b0b0b;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 18px;
}


.form__content__input{
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}

.content__firstCol{
  display: flex;
  flex-direction: column; 
  width: 25%;
}
.content__firstCol input{
  width: 100%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.content__second{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.genre__checkbox{
  margin-top: 10px;
}

.genre__checkbox div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}


.genre__checkbox input{
  cursor: pointer;
  height: 20px;
  width: 20px;
}

span{
  color: red;
}

.form__content__tarea{
  margin: 10px 0px 0px 60px;
  font-size: 18px;
}

.form__content__tarea textarea{
  resize: none;
  margin-top: 10px;
  width: 675px;
  height: 80px;
}

.form__content__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form__content__btn button{
  background-color: #0b0b0b;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  color: #80C6FF;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
/* ------------------------ Footer ------------------------ */

footer{
  background-color: #0b0b0b;
  color: #fff;
  padding: 75px 0px 40px 0px;
}

.footer__reseaux{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.reseaux__content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  overflow: hidden;
}

.reseaux__content img{
  width: 100%;
  height: auto;
}

.footer__lienLégaux{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 50px auto;
}
.footer__lienLégaux a{
  text-decoration: none;
  color: #80C6FF;
  font-size: 18px;
}

.footer__logo{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo p{
  color: #80C6FF;
  font-size: 18px;
  margin: 3px;
}

.footer__logo__content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 250px;
  overflow: hidden;
}

.footer__logo__content img{
  width: auto;
  height: 100%;
}

@media screen and (max-width : 750px) {
  .header__menu{
    display: none;
  }
  .burger--toggler {
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 20;
    top: 50px;
    right: 32px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display : flex; 
    flex-direction: column;
    justify-content : center;
    align-items: center;
    background: transparent;
    outline: none;
    border: none;
  }
  .burger--toggler span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition : opacity 0.1s ease-out , transform 0.3s ease-out;
  }
  .l1{
    transform: translateY(-12px);
  }
  .l3{
    transform: translateY(12px);
  }
  .burger--toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
  }
  .burger--toggler.active .l2{
    opacity: 0;
  }
  .burger--toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
  }
  .fond__texte p {
    text-align: center;
    font-size: 50px;
  }
  .fond__texte__slogan p{
    width: 90%;
    font-size: 40px;
  }
  .fond__texte{
    margin-top: 150px;
  }
  .form__content__input{
    flex-direction: column;
  }
  .content__firstCol{
    width: 100%;
  }
  .form__content__tarea{
    margin:50px auto 0px auto;
  }
  .form__content__tarea textarea{
    width: 100%;
    height: 150px;
  }
}