*{
  box-sizing : border-box;
  margin :0;
  padding : 0;
  font-family: "raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html, body {
  overscroll-behavior: none;
  touch-action: pan-x pan-y;

}
h1 , h2 , h3{
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/* ------------------------ Animations ------------------------ */

@keyframes sloganPopAgir {
  from{
    transform: translateY(-75px);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes sloganPopTexte {
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pop {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@keyframes popLeft {
  from{
    opacity: 0;
    transform: translateX(-150px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes popRight {
  from{
    opacity: 0;
    transform: translateX(150px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.popAnimationTxt{
  animation: sloganPopAgir 0.5s ease-out 0.4s forwards;
}
.popAnimationBtn{
  animation: sloganPopTexte 0.6s ease-out 1s forwards;
}

.popAnimationScroll{
  animation: pop ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.popLeftAnimationScroll{
  animation: popLeft ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.popRightAnimationScroll{
  animation: popRight ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}



/* ------------------------ Header ------------------------ */

header{
  display: flex;
  justify-content: center;
  align-items: center;
}


.header__menu{
  border: 1px solid #0e0f0e;
  position: fixed;
  z-index: 10;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  background-color: #F2FAFC;
  border-radius: 17px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
  padding: 0px 0px;
  height: 50px;
  min-width: 100px;
  transition : top 0.5s ease-out;
}

.ongletQui{
  margin-left: 30px;
}

.ongletContact{
  margin: 0px 0px 0px 70px;
  padding: 13px 0px
}

.ongletBenevole{
  margin: 0px 10px 0px 160px;
  padding: 13px 0px;
}

.ongletDon{
  background-color: #0e0f0e;
  margin-left: 15px;
  padding: 14px 25px 14px 25px;
  border-top-right-radius:18px ;
  border-bottom-right-radius:18px ;
}

.ongletDon a{
  color: #80C6FF;
}

.lien{
  display: inline-block;
  color: #0e0f0e;
  text-decoration: none;
  transition : color 0.2s ease-out , transform 0.2s ease-out;
}

.header__img{
  position: absolute;
  display : flex; 
  justify-content : center;
  align-items : center ;
  width : 90px;
  height : 90px;
  overflow : hidden;
  border-radius : 100% ;
}
.header__img img{
  margin-left:5px ;
  width: 90%;
  height: auto;
}

/* ------------------------ Menu Burger ------------------------ */

.burger--toggler{
  opacity: 0;
  visibility: hidden;
}

.overlay--burger{
  cursor: pointer;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgb(12, 12, 12 , 0.3);
  transition: opacity 0.5s ease , visibility 0.5s ease ;
}
.overlay--burger.active{
  opacity: 1;
  visibility: visible;
}

.menuBurger{
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  border-bottom: 3px solid #0e0f0e;
  border-right: 3px solid #0e0f0e;
  transform: translateX(-100%);
  transition : transform 0.3s cubic-bezier(0.73,0.11,0.67,0.84);
}

.menuBurger__img{
  margin-top: 50px;
  display : flex; 
  justify-content : center;
  align-items : center ;
  width : 90px;
  height : 100px;
}

.menuBurger__img img{
  width : 100%;
  height : auto;
}

.menuBurger ul{
  list-style: none;
  width: 100%;
}
.menuBurger li{
  border-top: 1px solid #0e0f0e;
  width: 100%;
}


.menuBurger a{
  font-weight: 500;
  display: block;
  color: #0e0f0e;
  text-decoration: none;
  width: auto;
  font-size: 20px;
  margin: 30px 0px;
  text-align: center;
}
.menuBurger.active{
  transform: translateX(0);
}

/* ------------------------ Texte + button sur le fond ------------------------ */

.fond__texte{
  background-color: rgba(32, 32, 32, 0.3); 
  backdrop-filter: blur(6px); 
  -webkit-backdrop-filter: blur(10px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 300px auto 0px auto;
  padding: 20px;
  width: max-content;
  border-radius: 18px;
  color: #F2FAFC;
}


.fond__texte__agissons{
  opacity: 0;
}

.fond__texte p{
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.fond__texte__slogan p{
  font-weight: 500;
  margin: 10px auto;
  font-size: 35px;
}
.fond__texte__slogan{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.fond__texte__button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin: 40px auto 0px auto;
}

.fond__texte__button__animate{
  display: inline-block;
  background: #80C6FF;
  border-radius: 8px;
  text-decoration: none;
}

.fond__texte__button__animate span{
  display: inline-block;
  background: #0e0f0e;
  color: #80C6FF;
  padding: 25px;
  font-size: 21px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.15s ease-out , color  0.15s ease-out;
}
.fond__texte__button__animate:hover span{
  transform: translate(5px , -5px);
}


/* ------------------------ Footer ------------------------ */

footer{
  background-color: #0e0f0e;
  color: #F2FAFC;
  padding: 75px 0px 40px 0px;
}

.footer__reseaux{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.reseaux__content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  overflow: hidden;
}

.reseaux__content img{
  width: 100%;
  height: auto;
}

.footer__lienLégaux{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 50px auto;
}
.footer__lienLégaux a{
  text-decoration: none;
  color: #80C6FF;
  font-size: 18px;
}

.footer__logo{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo p{
  text-decoration: none;
  color: #80C6FF;
  font-size: 18px;
  margin: 3px;
}

.footer__logo__content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 250px;
  overflow: hidden;
}

.footer__logo__content img{
  width: auto;
  height: 100%;
}
/* ------------------------ Responsive mobile ------------------------ */

@media screen and (max-width : 750px) {
  .header__menu{
    display: none;
  }
  .burger--toggler {
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 20;
    top: 50px;
    right: 32px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display : flex; 
    flex-direction: column;
    justify-content : center;
    align-items: center;
    background: transparent;
    outline: none;
    border: none;
  }
  .burger--toggler span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0f0e;
    transition : opacity 0.1s ease-out , transform 0.3s ease-out;
  }
  .l1{
    transform: translateY(-12px);
  }
  .l3{
    transform: translateY(12px);
  }
  .burger--toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
  }
  .burger--toggler.active .l2{
    opacity: 0;
  }
  .burger--toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
  }
  .fond__texte p {
    text-align: center;
  }
  .fond__texte__slogan p{
    width: 100%;
  }
  .fond__texte{
    width: 80%;
    margin-top: 200px;
  }
  .footer__lienLégaux{
    flex-direction: column;
  }
  .footer__lienLégaux a{
    padding: 13px 0px;
  }
}